* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 17px;
}

section {
  width: 380px;
  height: 100%;
  margin: auto;

  /* SCROLL SNAP ADDED */
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.all-reels {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.reel {
  position: relative;
  width: 100%;
  height: 100%;  /* IMPORTANT: snap works per screen! */
  scroll-snap-align: start;
  border-radius: 15px;
}

.reel .img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 15px;
}

.bottom {
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  color: white;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.img2 {
  width: 50px;
  height: 50px;
  object-fit: cover; 
  border-radius: 25px;
}

.user h4 {
  font-size: 25px;
  font-weight: 600;
}

.user button {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.right {
  position: absolute;
  right: 5px;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right i {
  font-size: 30px;
}

.right h4 {
  font-size: 25px;
  text-align: center;
}

.right h6 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
